In [9]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [6]:
# Import the datasets to work with.
df = pd.read_csv('wiki_movie_plots_deduped.csv')
df_genre = pd.read_csv("title.basics.tsv",delimiter="\t")

/usr/local/Cellar/ipython/7.0.1/libexec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [40]:
# Lets review the shapes of the dataframes.
display(df.shape)
display(df_genre.shape) # This one is much bigger

(34886, 8)

(5463542, 9)

In [121]:
# Lets review a small sample of the dataframe to see what we have. 
display(df.head(5))
display(df_genre.head(2))

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"

In [28]:
# From the df_genre dataframe i just need the title of the movie and the genres column, so lets just work with that.
df_genre_used = df_genre[["primaryTitle","genres"]]
df_genre_used = df_genre_used.rename(columns={"primaryTitle":"Title"}) # I

In [29]:
# Lets merge the dfs to add the genres to our original df
df_joined = df.merge(df_genre_used,on="Title")

In [48]:
# The original df had 34.886 rows only, the merged one has 261.399 rows, this mean that there are repeated movies.
display(df_joined.shape)

# Example of a repeated movie: 
display(df_genre_used[df_genre_used["Title"]=="Jack and the Beanstalk"].head(5))

(261399, 9)

                        Title                   genres
396    Jack and the Beanstalk            Fantasy,Short
8037   Jack and the Beanstalk                  Fantasy
13088  Jack and the Beanstalk          Animation,Short
14797  Jack and the Beanstalk             Comedy,Short
21668  Jack and the Beanstalk  Animation,Comedy,Family

In [55]:
# Indeed, there are movies that repeat many times that we must clean. Lets just keep the columns that i need.
df_joined2 = df_joined.loc[:,("Release Year","Title","Plot","genres")]
# Lets drop duplicate rows 
df_joined2.drop_duplicates(inplace=True)
display(df_joined2.shape)

(167621, 4)

In [124]:
prueba = df_joined2[df_joined2["Title"]=="The Martyred Presidents"][["Title","genres"]]
lista = prueba["genres"].tolist()
generos = (",".join(lista)).split(",")
cuenta_gen = {}
set(generos)
for gen in set(generos):
    cuenta_gen[gen] = generos.count(gen)
s = [(k,cuenta_gen[k]) for k in sorted(cuenta_gen,key=cuenta_gen.get,reverse=True)]
s[:3]    
# d = {"aa": 3, "bb": 4, "cc": 2, "dd": 1}    
# s = [(k, d[k]) for k in sorted(d, key=d.get, reverse=True)]

[('Short', 1)]

In [114]:
cuenta_gen.get()

In [122]:
display(df_genre_used[df_genre_used["Title"]=="The Martyred Presidents"].head(5))

                          Title genres
303277  The Martyred Presidents  Short